
$bg-colour: hsl(0,0%,100%);
$light-bg: hsl(240,50%,97.5%);
$text-colour: hsl(0, 0%, 0%);
$lowlight-colour: #555;
$serif-base-fonts: Georgia, serif;
$sans-base-fonts: verdana, sans-serif;

@font-face {
  font-family: "FiraCode";
  src: url("/fonts/firacode.otf") format("opentype"), url("/fonts/firacode.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Iosevka";
  src: url("/fonts/Iosevka.otf") format("opentype"), url("/fonts/Iosevka.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Iosevka";
  src: url("/fonts/Iosevka-Italic.otf") format("opentype"), url("/fonts/Iosevka-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-Regular.otf") format("opentype"),
    url("/fonts/SourceSansPro-Regular.otf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "SourceSerifPro";
  src: url("/fonts/SourceSerifPro-Regular.otf") format("opentype"),
    url("/fonts/SourceSerifPro-Regular.otf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0px 1em 0px 1em;
  text-rendering: optimizeLegibility;
}

/* Anchor to the left on wider screens */
@media screen and (min-width: 42em) {
  .site {
      margin: 0px auto 0px auto;
      max-width: 40em;
      padding: 0 1em ;
  }

  header #navigation {
      text-align: justify;
      width: 100%;
  }
}

/* Center on smaller screens */
@media screen and (max-width: 42em) {
  .site {
      margin: 0px auto 0px auto;
      max-width: 40em;
      padding: 0 1em ;
  }

  header #navigation {
      text-align: justify;
      width: 100%;
  }
  pre {
    overflow-x:scroll;
  }
}


body {
    /* background: hsl(60,100%,97%);*/
    background: $bg-colour;
    color: $text-colour;
    font-size: 12pt;
    font-family: $sans-base-fonts;
    text-align: justify;
    letter-spacing: 0.05px;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6, header, th {
    font-family: $serif-base-fonts;
}

.serif-loaded h1, .serif-loaded h2, .serif-loaded h3,
.serif-loaded h4, .serif-loaded h5, .serif-loaded h6,
.serif-loaded header, .serif-loaded th {
    font-family: SourceSerifPro, $serif-base-fonts;
}

header {
    border-bottom: 2px solid black;
    padding: 2ex 0px 2ex 0px;
}

#logo a {
    color: $text-colour;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}
header #navigation a {
    color: $text-colour;
    font-size: 1.2em;
    font-weight: bold;
    /* margin-left: 0.75em;*/
    text-decoration: none;
    text-transform: uppercase;
}

#attribution {
    --border-top: solid 2px black;
    color: $lowlight-colour;
    font-size: 0.8em;
    padding: 0.75em 0px 0.75em 0px;
    /* text-align: right;*/
  width:100%;

  p {
    margin: 0px;
  }
}

html { height: 100% }
.site {
  display: flex;
  height: 100%;
  flex-direction: column;
}

header {
  flex: none;
}
.main-body {
  flex: 1;
}

.site footer {
  flex: none;
}

.figure img {
  max-width: 100%;
}

footer {
    border-top: solid 2px black;
    color: $lowlight-colour;
    font-size: 0.8em;
    margin-top: 2em;
    padding: 0;
}
footer #attribution {
    padding: 0.75em 0px 0.75em 0px;
    --text-align: right;
  width:100%;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

.info {
    color: $lowlight-colour;
    font-size: 0.8em;
}

.subtitle {
    color: $text-colour;
    padding-right: 1ex;
    font-style: italic;
}
.teaser {
  padding-bottom: 1em;
}

.info, .subtitle, #footer {
    font-style: italic;
    font-family: $sans-base-fonts;
    font-size: 0.8em;
    letter-spacing: -0.55px;
    font-weight: 300;
}

.sans-loaded .info, .sans-loaded .subtitle, .sans-loaded #footer, .sans-loaded body {
    font-family: SourceSansPro, $sans-base-fonts;
    font-size: 1em;
}

pre, samp, kbd {
  font-family: Menlo, Consolas, "Liberation Mono",Courier,monospace;
}
pre {
  white-space: pre;
  padding: 1ex;
  background: $light-bg;
  font-size: 0.8em;
}

blockquote {
  padding: 1ex;
  background: $light-bg;
  font-size: 0.8em;
}

blockquote p{
  margin: 0;
}

blockquote p + p{
  margin-top: 1em;
}

.mono-loaded code, .mono-loaded kbd, .mono-loaded pre, .mono-loaded samp {
  font-family: "Iosevka", Menlo, Consolas, "Liberation Mono",Courier,monospace;
}

th {
  border-bottom: thin solid black;
}

.post-summaries dt {
}
.post-summaries dd {
  margin-left: 0px;
  padding-left: 1em;
}
.post-summaries dd p {
  margin: 0em;
}

/* From tufte CSS: https://github.com/edwardtufte/tufte-css/blob/1f77d86595a3bf66a367c0c8d3ed8e4a9fdd222a/tufte.css#L146-L165 */
/* Links: replicate underline that clears descenders */
a:link, a:visited { color: inherit; }

a:link { text-decoration: none;
         background: -webkit-linear-gradient($bg-colour, $bg-colour), -webkit-linear-gradient($bg-colour, $bg-colour), -webkit-linear-gradient(#333, #333);
         background: linear-gradient($bg-colour, $bg-colour), linear-gradient($bg-colour, $bg-colour), linear-gradient(#333, #333);
         -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         background-repeat: no-repeat, no-repeat, repeat-x;
         text-shadow: 0.03em 0 $bg-colour, -0.03em 0 $bg-colour, 0 0.03em $bg-colour, 0 -0.03em $bg-colour, 0.06em 0 $bg-colour, -0.06em 0 $bg-colour, 0.09em 0 $bg-colour, -0.09em 0 $bg-colour, 0.12em 0 $bg-colour, -0.12em 0 $bg-colour, 0.15em 0 $bg-colour, -0.15em 0 $bg-colour;
         background-position: 0% 93%, 100% 93%, 0% 93%; }

@media screen and (-webkit-min-device-pixel-ratio: 0) { a:link { background-position-y: 87%, 87%, 87%; } }

a:link::selection { text-shadow: 0.03em 0 $lowlight-colour, -0.03em 0 $lowlight-colour, 0 0.03em $lowlight-colour, 0 -0.03em $lowlight-colour, 0.06em 0 $lowlight-colour, -0.06em 0 $lowlight-colour, 0.09em 0 $lowlight-colour, -0.09em 0 $lowlight-colour, 0.12em 0 $lowlight-colour, -0.12em 0 $lowlight-colour, 0.15em 0 $lowlight-colour, -0.15em 0 $lowlight-colour;
                    background: $lowlight-colour; }

a:link::-moz-selection { text-shadow: 0.03em 0 $lowlight-colour, -0.03em 0 $lowlight-colour, 0 0.03em $lowlight-colour, 0 -0.03em $lowlight-colour, 0.06em 0 $lowlight-colour, -0.06em 0 $lowlight-colour, 0.09em 0 $lowlight-colour, -0.09em 0 $lowlight-colour, 0.12em 0 $lowlight-colour, -0.12em 0 $lowlight-colour, 0.15em 0 $lowlight-colour, -0.15em 0 $lowlight-colour;
                         background: $lowlight-colour; }

/* end tufte */
