@import "normalize.css";
@import "pygments.css";
@import "katex/dist/katex.css";

@import "fonts.css";
/* @import "monochrome.css"; */
$text-width: 40rem;
$text-breakpoint: calc($text-width + 2rem);

:root {
  --text-width: $text-width;
  --bg-colour: hsla(0, 0%, 100%, 100%);
  --light-bg: hsl(240,50%,97.5%);
  --text-colour: hsl(0, 0%, 0%);
  --lowlight-colour: #555;
}

body {
  margin: 0px 1rem 0px 1rem;
  text-rendering: optimizeLegibility;
}

/* Anchor to the left on wider screens */
@media (min-width: $text-breakpoint) {
  .site {
      margin: 0px auto;
      max-width: var(--text-width);
      padding: 0 1rem ;
  }

  header #navigation {
      width: 100%;
  }
}

/* Center on smaller screens */
@media screen and (max-width: $text-breakpoint) {
  .site {
      margin: 0px auto;
      max-width: var(--text-width);
      padding: 0 1rem ;
  }

  header #navigation {
      width: 100%;
  }
  pre {
    overflow-x:scroll;
  }
}


html {
    /* background: hsl(60,100%,97%);*/
    background: var(--bg-colour);
    color: var(--text-colour);
    font-size: 12pt;
    font-family: var(--body-enh-fonts);
    letter-spacing: 0.05px;
    font-weight: 400;
    text-align: justify;
    hyphens: auto;
}

h1, h2, h3, h4, h5, h6, header, th, dt, a:link {
    font-family: var(--title-enh-fonts);
}

header {
    z-index: 10;
    h1 {
      border-bottom: 2px solid black;
      background: var(--bg-colour);
    }
    padding: 2ex 0px 2ex 0px;

}

#logo a {
    color: var(--text-colour);
    float: left;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}
header #navigation a {
    color: var(--text-colour);
    font-size: 1.2rem;
    font-weight: bold;
    /* margin-left: 0.75rem;*/
    text-decoration: none;
    text-transform: uppercase;
}

#attribution {
    color: var(--lowlight-colour);
    font-size: 0.8rem;
    padding: 0.75rem 0px 0.75rem 0px;
    /* text-align: right;*/
  width:100%;

  p {
    margin: 0px;
  }
}

html { height: 100% }
.site {
  display: flex;
  height: 100%;
  flex-direction: column;

  header {
    background: var(--bg-colour);

    padding: 0;
    flex: none;
    flex-align: column;
    max-width: var(--text-width);
    margin: 0px 0;
    padding: 0 0;

    h1 {
      padding: 0;
      margin: 0.0 0 0.0 0 ;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  main {
    flex: 1 0 auto;
  }

  footer {
    z-index: 10;
    flex: none;
    background: var(--bg-colour);
    color: var(--lowlight-colour);
    max-width: var(--text-width);
    margin: 0px 0;
    padding: 0 0;

    nav {
      border-top: solid 2px black;
      font-size: 1rem;
    }

    #attribution {
        padding: 0.75rem 0px 0.75rem 0px;
      width:100%;
    }

  }

  figure {
    margin: 1em 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    img {
      max-width: 100%;
    }
  }

  .katex {
    font-size: 1em;
    line-height: 1;
  }

  h1 {
      font-size: 1.5rem;
  }

  h2 {
      font-size: 1.25rem;
  }

  .info {
      color: var(--lowlight-colour);
  }

  .subtitle {
      color: var(--text-colour);
      padding-right: 1ex;
      font-style: italic;
  }

  .post .teaser {
    margin-bottom: 1rem;
  }

  .post:last-child .teaser {
    margin-bottom: inherit;
  }

  .info, .subtitle, #footer {
      font-style: italic;
      font-family: var(--meta-enh-fonts);
  }

  pre {
    white-space: pre;
    padding: 1ex;
    background: var(--light-bg);
    font-size: 0.8rem;
  }

  blockquote {
    padding: 1ex;
    background: var(--light-bg);
    font-size: 0.8rem;
  }

  blockquote p{
    margin: 0;
  }

  blockquote p + p{
    margin-top: 1rem;
  }

  code, kbd, pre, samp {
    font-family: var(--mono-enh-fonts);
    white-space: pre-wrap;
  }

  th {
    border-bottom: thin solid black;
  }

  .post-summaries dt {
    font-size: 1.1em;
  }
  .post-summaries dd {
    margin-left: 0px;
    padding-left: 1rem;
  }
  .post-summaries dd p {
    margin: 0rem;
  }

  a:link, a:visited { color: inherit; }
}
