@import "source-sans-pro/source-sans-pro.css";
@import "@typopro/web-gidole/TypoPRO-Gidole.css";
@import "@typopro/web-iosevka/TypoPRO-Iosevka.css";

:root {
--body-base-fonts: verdana, sans-serif;
--body-enh-fonts: "Source Sans Pro", var(--body-base-fonts);

--title-base-fonts: var(--body-base-fonts);
--title-enh-fonts: TypoPRO Gidole, var(--title-base-fonts);

--mono-base-fonts: Menlo, Consolas, "Liberation Mono",Courier,monospace;
--mono-enh-fonts: "TypoPRO Iosevka Term", var(--mono-base-fonts);
}
