@import "source-sans-pro/source-sans-pro.css";
@import "source-serif-pro/source-serif-pro.css";
@import "source-code-pro/source-code-pro.css";

:root {
  --meta-base-fonts: serif;
  --meta-enh-fonts: "Source Sans Pro", var(--meta-base-fonts);
  --body-base-fonts: serif;
  --body-enh-fonts: "Source Serif Pro", var(--body-base-fonts);

  --title-base-fonts: var(--meta-base-fonts);
  --title-enh-fonts: var(--meta-enh-fonts);

  --mono-base-fonts: Menlo, Consolas, "Liberation Mono", Courier, monospace;
  --mono-enh-fonts: "Source Code Pro", var(--mono-base-fonts);
}
