body {
  counter-reset: sidenote-counter;
}
.sidenote, .marginnote { float: right;
                         clear: right;
                         margin-right: -21rem;
                         width: ($text-width / 2);
                         margin-top: 0;
                         margin-bottom: 0;
                         vertical-align: baseline;
                         position: relative;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number:after, .sidenote:before { content: "(" counter(sidenote-counter) ")";
                                           position: relative;
                                           vertical-align: baseline; }

.sidenote-number:after {
                         font-size: 0.75em;
                         top: -0.5em;
                         left: 0.1em; }

.sidenote:before { content: counter(sidenote-counter) " ";
                   top: -0.5rem;
		   font-size: 0.75em; }

blockquote .sidenote, blockquote .marginnote { margin-right: -82%;
                                               min-width: 59%;
                                               text-align: left; }


input.margin-toggle { display: none; }

label.sidenote-number {
    display: inline;
    cursor: pointer;
 }

label.margin-toggle:not(.sidenote-number) { display: none; }

@media screen and (max-width: $sidenote-breakpoint) {
     label.margin-toggle:not(.sidenote-number) {
         display: inline;
    }
     .sidenote, .marginnote {
         display: none;
    }
     .margin-toggle:checked + .sidenote, .margin-toggle:checked + .marginnote {
         display: block;
         float: left;
         clear: both;
	 width: $text-width - 2 /* ??? */;
	 max-width: none;
         margin: 1rem 0rem 0rem 0rem;
         padding: 0 1rem 0rem 1rem;
         vertical-align: baseline;
         position: relative;
    }
}
