<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="google-site-verification" content="7BuuhGQuvEafcnNeOO-fwRt3QBVVJhb3ML9W6nnQIvQ" />
        <title>$title$</title>
        $if(orig_url)$
        <link rel="canonical" type="text/html" href="$orig_url$" />
        $endif$
        <link rel="alternate" type="application/rss+xml"
            title="Post syndication feed" href="/atom.xml" />
        <!-- Substuted from manifest -->
        <link rel="stylesheet" type="text/css" href="main.css" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css" integrity="sha384-D+9gmBxUQogRLqvARvNLmA9hS2x//eK1FhVb9PiU86gmcrBrJAQT8okdJ4LMp2uv" crossorigin="anonymous">
    </head>
    <body class="site">
        <header>
            <h1>$title$</h1>
        </header>
        <main class="main-body">
            $if(description)$ <p class='subtitle'>$description$</p> $endif$
            $body$
        </main>
        <footer id="header">
            <nav id="navigation">
                <a href="/">Home</a>
                <a href="/about.html">About</a>
                <a href="/archive.html">Archive</a>
            </nav>
        </footer>

        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"
            integrity="sha384-483A6DwYfKeDa0Q52fJmxFXkcPCFfnXMoXblOkJ4JcA8zATN6Tm78UNL72AKk+0O"
            crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/contrib/auto-render.min.js"
            integrity="sha384-yACMu8JWxKzSp/C1YV86pzGiQ/l1YUfE8oPuahJQxzehAjEt2GiQuy/BIvl9KyeF"
            crossorigin="anonymous"
            onload="document.querySelectorAll('.math').forEach(renderMathInElement)"
            ></script>

    </body>
</html>
