<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="google-site-verification" content="7BuuhGQuvEafcnNeOO-fwRt3QBVVJhb3ML9W6nnQIvQ" />
        <title>$title$</title>
        $if(orig_url)$
        <link rel="canonical" type="text/html" href="$orig_url$" />
        $endif$
        <link rel="stylesheet" type="text/css" href="/css/default.css" />

        <link rel="alternate" type="application/rss+xml"
            title="Post syndication feed" href="/atom.xml" />

        <meta name="x-revision" content="$gitversion$"/>
    </head>
    <body class="site">
        <header>
            <h1>$title$</h1>
            <div class='fade-spacer'>&#xa0;</div>
        </header>
        <main class="main-body">
            $if(description)$ <p class='subtitle'>$description$</p> $endif$
            $body$
        </main>
        <footer id="header">
            <div class='fade-spacer'>&#xa0;</div>
            <nav id="navigation">
                <a href="/">Home</a>
                <a href="/about.html">About</a>
                <a href="/archive.html">Archive</a>
            </nav>
        </footer>

<script type='text/javascript'>
/* <![[CDATA[ */

function preloadFont(fontdescs, klass) {
    var ps = fontdescs.map(function(f) { return document.fonts.load(f); });
    Promise.all(ps).then(function(vals) {
        console.log("loaded font", fontdescs, vals);
        var docElt = document.documentElement;
        docElt.className += ' ' + klass;
    }).catch(function(e) {
        console.log("loading font:", fontdesc, e);
    });
}

preloadFont(['normal 1em SourceSansPro', 'italic 1em SourceSansPro'], 'sans-loaded');
preloadFont(['normal 1em Iosevka', 'italic 1em Iosevka'], 'mono-loaded');
preloadFont(['1em SourceSerifPro'], 'serif-loaded');

/* ]]> */
</script>
    </body>
</html>
