{{>templates/default.header.html}}

<h2>Recently:</h2>

<dl class="post-summaries">
  {{#posts}}
  <dt>
    <a href="{{ url }}" title="{{ description }}">{{title}}</a>
  </dt>
  <dd class="post">
    {{#description}}
    <p class="info"><span class="subtitle">{{description}}</span>ー{{date}}</p>
    {{/description}}
    <aside class="teaser">
      {{{teaser}}}
      <a href="{{ url }}" title="{{description}}">…</a>
    </aside>
  </dd>
  {{/posts}}
</dl>

<p>(<a href="/archive.html">older posts</a>)</p>

{{>templates/default.footer.html}}
